.header {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;

	max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    /*padding: 0 16px*/
}

.header__title {
	font-family: Inter;
	font-size: 3rem;
	font-weight: 500;
	line-height: 4rem;
	letter-spacing: 0rem;
	margin: 0;
}
