/* Стилизация кнопки */

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    border-radius: 8px;
    border: none;
    padding: 15px 56px 14px;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:active {
    transform: translateY(1px);
}

.button_primary {
    background: var(--primary);
}

.button_primary:hover {
    background: var(--blue-1);
}

.button_secondary {
    background: var(--secondary);
}

.button_secondary:hover {
    background: var(--purple-1);
}

.button_alternate {
    color: var(--grey-4);
    border: 1px var(--grey-3) solid;
}

.button_alternate:hover {
    color: var(--grey-4);
    border: 1px var(--black) solid;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}