.sidebar {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-right: 56px;
    width: 450px;
}

.sidebar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.sidebar__nav-item {
    margin-top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    list-style-type: none;
}

.sidebar__nav-item:first-of-type {
    margin-top: 0;
}

.sidebar__nav-item:last-of-type {
    margin-top: 30px;
}


.sidebar__nav-item_active {
    color: #D84910;
}


