.card {
    min-height: 367px;
    min-width: 350px;

    background-color: var(--white);
    
    border-radius: 12px;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card__footer {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    margin-bottom: 30px;
}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black);
    text-align: center;
}

.card__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    text-align: center;
}