/* Стилизация аккордеона */
.accordion {

}

.accordion__item {
	padding: 24px 32px;
	margin-bottom: 8px;
	border: 1px var(--grey-3) solid;
	border-radius: 8px;
	color: var(--black);
}

.accordion__item[open] {
	padding-bottom: 32px;
}
.accordion__item[open] > .accordion__header {
	padding-bottom: 16px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__header {

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	display: block;

	cursor: pointer;
}

.accordion__body {
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

}



