.toggler {}

.toggler_preview .toggler__title {
    font-size: 14px;
}

.toggler__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.toggler__state {
    display: flex;
    padding-bottom: 16px;
    gap: 12px;
    align-items: center;
}

.toggler__control {
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    height: 28px;
    width: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.toggler__icon {
    fill: var(--grey-3);
}

.toggler__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.toggler__input:checked~.toggler__state .toggler__control {
    background: var(--primary);
    border-color: var(--primary);
}

.toggler__input:checked~.toggler__state .toggler__icon {
    fill: var(--white);
    transform: translateX(26px);
}

.toggler__input:visited~.toggler__state .toggler__icon {
    fill: var(--grey-3);
    transform: translateX(-26px);
}

.toggler__input:disabled~.toggler__state {
    pointer-events: none;
}

.toggler__input:disabled~.toggler__state .toggler__control {
    background: var(--grey-2);
}

.toggler__input:disabled~.toggler__state .toggler__icon {
    fill: var(--grey-3);
}

.toggler__input:disabled~.toggler__state .toggler__title {
    color: var(--grey-2);
}

.toggler__input:focus~.toggler__state .toggler__title {
    text-decoration: underline;
}