.page {

	color: var(--black);
	font-family: Inter;	
	display: flex;
	flex-direction: column;
	max-width: 1440px;
}

.page__header {
	
}

.page__content {

  
}

.page__footer {

}
	color: #212429;
	font-family: Inter;	
}

