.page {

    color: var(--black);
    font-family: Inter;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

.page__footer {

    width: 480px;
    color: #212429;
    font-family: Inter;
}
