@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/content/content.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/card/card.css';
@import '../../components/histogram/histogram.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple-1: #5028C6;
    --purple-2: #7048E8;
    --purple-3: #5028C6;
    --blue-1: #4263EB;
    --blue-2: #374FC7;
    --blue-3: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue-2);

    --primary: var(--blue-2);
    --secondary: var(--purple-2);
}

* {
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
    justify-content: center;
}

