.footer {
	padding: 72px 400px 136px; 
	padding: 0 26rem 8.5rem; 
	text-align: center;
	
}

.footer__title {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3rem;

}

.footer__description {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
}