/* Стилизация аккордеона */
.accordion {
	border: 1px var(--grey-3) solid;
	border-radius: 8px;
	color: var(--black);
}

.accordion__header {
	padding: 24px 32px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	display: block;
}


.accordion__body {
	padding: 0 32px 32px;
	margin: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;


}



