.modal {
	font-family: 'Inter';
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(196, 196, 196, 0.5);
    max-width: 100vw;
    height: 100vh;
    display: none;
}
.modal__container {
	max-width: 400px; 
    width: 100%;
    padding: 30px 40px 30px 40px;
    position: absolute;
    background: var(--white);
    border-radius: 8px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}
.modal__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
    color: #334D6E;
}
.modal__content {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
    color: var(--grey-4);

}
.modal__cross {
	position: absolute;
	right: -15px;
	top: 0;
	transform: translate(-30px, 15px);
}

.modal__window_type_preview {
    position: relative;
    transform: none;
    flex: 1 0 auto;
    max-width: 200px;
    top: 0;
    left: 0;
    border: 1px solid var(--grey-3);
    pointer-events: none;
    padding: 1em;
    border-radius: 8px;
}

.modal__window_type_preview input {
    min-height: 1.5em;
}

.modal__window_type_preview .button {
    height: 2rem;
    padding: .375rem 1rem;
    margin-top: 0.7em;
    max-width: 50%;
}