.content {

	padding-top: 68px;
	padding-bottom: 204px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;

	background: #F9FAFC;

}

.content_grid-container {
	display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr;
}

.content__inner {
	padding: 32px 48px;
}
