.burger-menu {
    background-color: var(--grey-1);
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    padding: 16px;
    transform: translateX(-100vw);
    transition: transform 250ms linear;
}

.burger-menu__header {
    display: flex;
    align-items: center;
    height: 64px;
}

.burger-menu[data-open] {
    transform: none;
}

.burger-menu__close {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--grey-2);
}

.burger-menu__close-icon {
    width: 24px;
    height: 24px;
    color: var(--grey-4);
    position: absolute;
    left: 4px;
    top: 4px;
}

.burger-menu__open-icon {
    width: 24px;
    height: 24px;
    color: var(--grey-4);
    cursor: pointer;
}

.burger-menu__logo {
    color: var(--black);
    position: absolute;
    left: 133px;
}

.burger-menu__title {
    color: var(--grey-3);
}

.burger-menu__mode {
    display: flex;
    justify-content: space-between;
    color: var(--grey-4);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px var(--grey-2) solid;
    border-top: 1px var(--grey-2) solid;
}