.histogram {
<<<<<<< HEAD
	width: 100%;
=======
>>>>>>> 9966ffd1b64321f458b61c4d0d192722f5a34475
	border: 1px solid var(--grey-3);
	border-radius: 8px;
	padding: 16px 24px 24px;
}

.histogram__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


.histogram__total-orders {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--black);
	opacity: 0.8;
	margin: 0;
	padding-bottom: 6px;

}

.histogram__count {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	margin: 0;
}

.histogram__link {
	text-decoration-line: none;
	font-family: 'Inter';
	font-style: normal;
	color: var(--primary);
}

.histogram__content {
    display: flex;
	gap: 1px;
	height: 50px;
<<<<<<< HEAD
	animation: rising 0.5s ease-out;
=======
>>>>>>> 9966ffd1b64321f458b61c4d0d192722f5a34475
}

.histogram__element {
	align-self: flex-end;	
	background-color: var(--primary);
	height: 0%;
	flex-basis: 9px;	
	flex-grow: 1;
<<<<<<< HEAD
	
}

@keyframes rising {
    0% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }
    100% {
        transform: scaleY(1);
        transform-origin: bottom center;
    }
}
=======
}

>>>>>>> 9966ffd1b64321f458b61c4d0d192722f5a34475

.histogram__element_mid {
	height: 50%; 	
}

.histogram__element_low {
	height: 25%;
}

.histogram__element_max {
	height: 100%;
}